.Header {
  width: 100%;
  height: 102px;
  background-color: #1C1A19;
}

.Header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 27px;
  padding-right: 50px;
}

.Menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Menu__item {
  margin-right: 30px;
}

.Menu__item:last-child {
  margin-right: 0;
}

.Menu__button {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.Menu__button:active, .Menu__button:focus {
  outline: none;
}


.active {
  color: #FDBF5A;
}
