.ProfileForm {
  height: 100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.ProfileForm__container {
  position: relative;
  border-radius: 20px;
  min-height: 500px;
  background-color: #fff;
  width: 888px;
}

.ProfileForm__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 18px 45px 0;
  align-items: center;
}

.ProfileForm__heading {
  text-align: center;
  font-size: 36px; 
  font-weight: bold;
  margin: 0;
}

.ProfileForm__subtitle {
  margin-bottom: 39px;
  color: #7B7B7B;
  font-size: 18px;
  font-weight: 400;
}

.ProfileForm__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ProfileForm__blocks {
  display: flex;
  justify-content: space-between; 
}

.ProfileForm__inputs {
  width: 43%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ProfileForm__card {
  max-width: 347px;
}

.ProfileForm__date-cvc {
  display: flex;
  justify-content: space-between;
}