.Profile {
  background-color: #fff;
  height: 474px;
  margin-top: 17px;
  border-radius: 4px;
  padding: 37px 150px;
}

.Profile__info {
  margin-bottom: 20px;
}

.Profile__line {
  display: flex;
  justify-content: space-between;
}

.Profile__heading {
  margin: 0;
  font-size: 36px;
}

.Profile__title {
  font-weight: bold;
  font-size: 19px;
}
.Profile__value {
  font-size: 19px;
}