.Login {
  position: relative;
  border-radius: 20px;
  min-height: 501px;
  width: 536px;
  background-color: #fff;
  padding: 56px 90px;
}

.Login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Login__heading {
  text-align: center;
  font-size: 36px;
  margin: 0 0 20px;
}

.Login__content {
  display: flex;
  flex-direction: column;
}

.Login__inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 12px;
}

.Login__new {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.Login__text {
  color: #828282;
  margin: 0 5px 0 0;
}